<main class="flex-center auth-form-mt">

  <app-auth-form title="login">

    <form class="auth-from" [formGroup]="form" (ngSubmit)="onSubmit()">

      <div class="custom-input">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required formControlName="email"
          [class.is-invalid]="invalid('email')" />

        @if (invalid('email')) {
        <span>El email es requerido</span>
        }

        @if(error('email','email')){
        <small>El campo debe ser un email</small>
        }
      </div>

      <div class="custom-input">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required formControlName="password"
          [class.is-invalid]="invalid('email')" />
        @if (invalid('password')) {
        <small>El email es requerido</small>
        }

        @if(error('password','pattern')){
        <small>La contraseña debe tener al menos 8 caracteres, una mayúscula, una minúscula, un número y un carácter
          especial &commat; &dollar;!%*?&</small>
        }
      </div>

      <div class="auth-container-actions">
        <app-custom-button type="submit" text="Iniciar sesión" [disable]="isDisable" />
        <span>Necesitas una cuenta? <a routerLink="/sing-up">Regístrate</a></span>
      </div>

    </form>
  </app-auth-form>

</main>

<app-toast />