<main class="flex-center auth-form-mt">

  <app-auth-form title="Regístrate">

    <form class="auth-from" [formGroup]="form" (ngSubmit)="onSubmit()">

      <div class="custom-input">
        <label for="username">Nombre</label>
        <input type="text" name="username" id="username" required formControlName="username"
          [class.is-invalid]="invalid('username')" />

        @if(invalid('username')){
        <small>El nombre es requerido</small>
        }
      </div>


      <div class="container-passwords">

        <div class="custom-input">
          <label for="password">Password</label>
          <input type="password" name="password" id="password" required formControlName="password"
            [class.is-invalid]="invalid('password')" />

          @if(invalid('password')){
          <small>El nombre es requerido</small>
          }

          @if(error('password','pattern')){
          <small>La contraseña debe tener al menos 8 caracteres, una mayúscula, una minúscula, un número y un carácter
            especial &commat; &dollar;!%*?&</small>
          }
        </div>

        <div class="custom-input">
          <label for="confirmPassword">Confirm Password</label>
          <input type="password" name="confirmPassword" id="confirmPassword" required formControlName="confirmPassword"
            [class.is-invalid]="invalid('confirmPassword')" />

          @if(invalid('confirmPassword')){
          <small>El nombre es requerido</small>
          }
          |
          @if(error('confirmPassword','pattern')){
          <small>La contraseña debe tener al menos 8 caracteres, una mayúscula, una minúscula, un número y un carácter
            especial &commat; &dollar;!%*?&</small>
          }


          @if(showPasswordMatchError()){
          <small>Las contraseñas no son iguales</small>
          }

        </div>

      </div>

      <div class="custom-input">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required formControlName="email"
          [class.is-invalid]="invalid('email')" />
        @if(invalid('email')){
        <small>El nombre es requerido</small>
        }

        @if(error('email','email')){
        <small>El campo debería ser un email</small>
        }
      </div>

      <div class="auth-container-actions">
        <app-custom-button type="submit" text="Registrase" [disable]="isDisable" />
        <span>Ya tienes una cuenta? <a routerLink="sing-up">Inicia sesión</a></span>
      </div>

    </form>
  </app-auth-form>

</main>

<app-toast />